<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>LL : nodeLogLizer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="/css/layout.css"></link>
		
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript">
			var menu = '<%- menu %>';
			var submenu = '<%- submenu %>';
			var substream = '<%- substream %>';

			if ( menu == '' )
				menu = "home";
		</script>
		<script type="text/javascript" src="/js/main.js" ></script>
		
	</head>
	<body>
		<div id="wrapper">
			<div id="left_wrapper">
				<div id="welc_msg">Welcome "<b><%= user %></b>"<a class="a_menu" href="/logout">Logout</a></div>
				<div id="logo"></div>
				<ul class="u_menu">
					
					<li class="l_menu" menu="home">
						<a class="a_menu" href="/">Home</a>
					</li>
						
					
					<li class="l_menu" menu="settings">
						<a class="a_menu" href="/settings">Settings</a>
						
						<ul class="u_submenu">
							<li class="l_submenu" submenu="users">
								<a class="a_submenu" href="/settings/users">Users</a>
							</li>
						</ul>
					</li>
					
					<li class="l_menu" menu="streams">
						<a class="a_menu" href="/streams">Streams</a>
						
						<ul class="u_submenu">
							
						<% for ( s in LLconf.globals.streams ) { 
							if ( !LLconf.globals.streams[s].enabled )
								continue;
						%>
						
							<li class="l_submenu" submenu="<%= s %>">
								<a class="a_submenu" href="/streams/<%= s %>"><%= s %></a>
							
								<ul class="u_substream">
								
								<% for ( sm in LLweb.submenu[s] ) { %>
									<li class="l_substream" substream="<%= LLweb.submenu[s][sm].url %>">
										<a class="a_submenu_stream" href="/streams/<%= s %>/<%= LLweb.submenu[s][sm].url %>"><%= LLweb.submenu[s][sm].title %></a>
									</li>
								<% } %>
									
								</ul>
								
							</li>
							
						<% } %>
							
						</ul>
						
					</li>				
								
				</ul>

				<div id="desc_left">
					nodeLogLizer v.<%= LLversion %>
				</div>	
			</div>
			<div id="right_wrapper">
				<%- body %>
			</div>
		</div>
	</body>
</html>