<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link type="text/css" rel="stylesheet" href="/css/login.css"></link>
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		
		<script type="text/javascript">
			var error = <%= error %>;
			$(document).ready(function(){
				if ( error ){
					$(".error_div").css("visibility", "visible");
				}
			});
		</script>
	
	</head>
	
	<body>
		<div id="wrap_center">
			<div id="logo"></div>
			<div id="wrap_login">
				<div class="error_div">Error: Username or Password not found.</div>
				<form id="form_login" name="formlogin" method="post">
				
					<div class="login">
						Username
						<input type="text" name="user" />
					</div>
				
					<div class="login">
						Password
						<input type="password" name="pass" />
					</div>
					<br />
					<div class="submit">
						<input type="submit" name="submit" value="Submit"/>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>