<% for ( s in LLconf.globals.streams ) { 
	if ( !LLconf.globals.streams[s].enabled )
		continue;
%>

	<li class="l_submenu" submenu="<%= s %>">
		<a class="a_submenu" href="/streams/<%= s %>"><%= s %></a>
	
		<ul class="u_substream">
		
		<% for ( sm in LLweb.submenu[s] ) { %>
			<li class="l_substream" substream="<%= LLweb.submenu[s][sm] %>">
				<a class="a_submenu_stream" href="/streams/<%= s %>/<%= LLweb.submenu[s][sm] %>"><%= LLweb.submenu[s][sm] %></a>
			</li>
		<% } %>
			
		</ul>
		
	</li>
	
<% } %>